<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enoque_alves.comunicacaoblue">
    &lt;uses-permission android:name="android.permission.BLUETOOTH" />
    &lt; uses-permission android:name="android.permission.BLUETOOTH_ADMIN" / >
    &lt;uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    &lt;uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReceivingData" />
        <activity android:name=".Dados" />
        <activity android:name=".novo_comando" />
        <activity
            android:name=".joystick"
            android:label="@string/title_activity_joystick"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".joystickk"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".TelaDeProgramacao"
            android:label="@string/title_activity_tela_de_programacao"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>